h1 {
    color: #FFFFFF;
    text-align: center;
    border: 15px solid white;
    font-size: 75px;
    margin-left: 520px;
    margin-right: 120px;
}

body {
    background: gray;
}

img {
    width: 100%;
    

}